@import "~bootstrap/dist/css/bootstrap.min.css";
body {
  background: radial-gradient(
    circle,
    rgba(238, 174, 202, 1) 0%,
    rgba(148, 187, 233, 1) 100%
  );
}
.card {
  display: inline-block;
  background: whitesmoke;
  margin: auto;
  height: 400px;
  width: 250px;
  padding: 20px;
  padding-top: 180px;
  border: 1px solid black;
  border-radius: 10px;
  position: relative;
  text-align: center;
  font-size: 70px;
  top: 80px;
  margin-left: 45%;
}

.number {
  align-items: center;
  margin-left: 83px;
  margin-top: 100px;
  font-family: "Pacifico", cursive;
  font-family: "Playfair Display", serif;
}

.heart,
.heart:before {
  display: flex;
  content: "\2647";
  color: rgb(117, 1, 55);
  position: absolute;
  bottom: 150px;
  left: 25px;
  text-align: left;
}

.heart:after {
  display: flex;
  content: "\2647";
  color: rgb(117, 1, 55);
  position: absolute;
  top: 150px;
  right: 25px;
  transform: rotate(180deg);
}

.spade,
.spade:before {
  display: flex;
  content: "\2644";
  color: rgb(13, 190, 152);
  position: absolute;
  bottom: 150px;
  left: 25px;
  text-align: left;
}

.spade:after {
  display: flex;
  content: "\2644";
  color: rgb(13, 190, 152);
  position: absolute;
  top: 150px;
  right: 25px;
  transform: rotate(180deg);
  text-align: right;
}

.diamond,
.diamond:before {
  display: flex;
  content: "\2645";
  color: rgb(168, 61, 230);
  position: absolute;
  bottom: 150px;
  left: 25px;
  text-align: left;
}

.diamond:after {
  display: flex;
  content: "\2645";
  color: rgb(168, 61, 230);
  position: absolute;
  top: 150px;
  right: 25px;
  text-align: right;
  transform: rotate(180deg);
}

.club,
.club:before {
  display: flex;
  content: "\2646";
  color: rgb(44, 164, 211);
  position: absolute;
  bottom: 150px;
  left: 25px;
}

.club:after {
  display: flex;
  content: "\2646";
  color: rgb(44, 164, 211);
  position: absolute;
  top: 150px;
  right: 25px;
  text-align: right;
  transform: rotate(180deg);
}
